input{
    width:300px;
    padding:7px;
    outline: none;
    margin: 20px;
}
.main-form{
    display: flex;
    justify-content: center;
}
.submit-btn{
    width:100px;
    margin-left:20px;
    border:0px;
    border:1px solid grey;
}
.submit-btn:hover{
    background-color: darkgrey;
    color:white;
}
